<section class="container t-3">
    <div class="jumbotron">
        <h1>Agregar Producto al Carrito</h1>
        <br>
        <select id="comboCar" name="comboCar"></select>
        <br>
        <select id="comboProducts" name="comboProducts"></select>
        <br>
        <button id="addToCartBTN">Agregar</button>
        <br>
        <div id="cart"></div>
        <br>
        <button id="createCart">Crear Carrito</button>
    </div>
</section>