<section id="nosotros"> 
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../image/backgroundPinck.jpg" class="d-block w-100" alt="imagen1">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../image/backgroundViolet.jpg" class="d-block w-100" alt="imagen2">
            </div>
            <div class="carousel-item">
                <img src="../../image/ARTICULOS.png" class="d-block w-100" alt="imagen3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="m-5">
        <h1>Conocenos un poco más</h1>
        <p>Bienvenido a <b>Mi Mochila</b>, tu tienda en línea especializada en productos escolares. Encontrarás todo lo que necesitas para hacer de tu experiencia académica un éxito. </p>
        <div class="d-flex justify-content-between py-4"  data-aos="zoom-out-up">
            <img src="../../image/Nosotros1.jpg" alt="Niños sonriendo" class="mx-4">
            <p>En <b>Mi Mochila</b>, nos enorgullecemos de ofrecer una amplia selección de productos escolares de alta calidad, diseñados para satisfacer las necesidades de estudiantes de todas las edades. Desde preescolar hasta la universidad, tenemos todo lo que necesitas para que cada día en el aula sea más organizado, creativo y emocionante.  <br> Navega por nuestro catálogo y descubre una variada gama de artículos, como cuadernos y libretas con diseños modernos y funcionales, mochilas ergonómicas y resistentes, estuches coloridos y prácticos, lápices y bolígrafos de alta precisión, y mucho más. Trabajamos con marcas reconocidas por su calidad, asegurando que los productos que adquieras sean duraderos y confiables.</p>
        </div>
        <div class="d-flex  justify-content-between py-4"  data-aos="zoom-out-up">
            <p>Además, en <b>Mi Mochila</b> nos preocupamos por ofrecerte una experiencia de compra fácil y segura. Nuestra plataforma de pago en línea te garantiza transacciones rápidas y protegidas, y nuestro equipo de atención al cliente estará siempre dispuesto a ayudarte ante cualquier consulta o inquietud. <br> Ya sea que estés comenzando un nuevo año escolar o necesites reabastecer tus suministros, EscolarMax es tu destino confiable para encontrar todo lo que buscas. Aprovecha nuestras promociones especiales y descuentos para ahorrar en tus compras y disfrutar de una vuelta a clases excepcional. <br>Gracias por elegirnos como tu tienda de productos escolares. ¡Esperamos acompañarte en tu viaje académico y brindarte la mejor experiencia de compra en línea!</p>
            <img src="../../image/Nosotros2.jpg" alt="Niña leyendo" class="mx-4">
        </div>
        <div class="d-flex py-4 justify-content-between"  data-aos="zoom-out-up">
            <img src="../../image/Nosotros3.jpg" alt="Niños">
            <div class="d-block me-5 pe-5">
                <p>También puedes encontrarnos en nuestras tiendas... <br>°Tandil, Pinto 535 <br>°Tandil, Quintana 1207 <br>°Balcarce, Calle 30 270</p>
                <br>
                <p>Como asi también en nuestras paginas...</p>
                <div class="mb-5 w-100">
                    <a href="https://wa.me/2494207711?text=Hola" class="ms-2" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com/diego.santellan.370" class="ms-2" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/diego_santellan/" class="ms-2" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>        
    </div>
    
</section>