<h2 class="mx-5 mt-5">Formulario de Registro</h2>

{{#if error}}       {{!-- muestra los errores en la pantalla --}}
    <p class="mx-5 text-danger">{{error}}</p>
{{/if}}
<section class="d-flex justify-content-center">
    <div class="mx-5 my-3 w-50">
        <form action="/api/auth/signup" method="POST">
            <label>Nombre:</label>
            <input class="form-control" type="text" name="name" placeholder="Ingresa tu nombre"/>
            
            <label>Username:</label>
            <input class="form-control" type="text" name="username" placeholder="Ingresa tu username"/>
            
            <label>Email:</label>
            <input class="form-control" type="email" name="email" placeholder="Ingresa tu correo"/>
            
            <label>password:</label>
            <input class="form-control" type="password" name="password" placeholder="Ingresa la contrase침a"/>
            
            
            <label>Dirreci칩n:</label>
            <input class="form-control" type="text" name="address" placeholder="Ingresa tu direcci칩n"/>
            
            
            <label>Edad:</label>
            <input class="form-control" type="number" name="age" placeholder="Ingresa tu edad"/>
            
            
            <label>Tel.:</label>
            <input class="form-control" type="number" name="phoneNumber" placeholder="Ingresa tu numero de telefono"/>
            
            <label>Foto:</label>
            <input class="form-control" type="file" name="photo" accept="image/*" placeholder="Ingresa una foto de perfil"/>


            <button type="submit" class="btn btn-secondary my-3">Registrarse</button>
        </form>
        <hr>
        <br>
        <a href="/api/auth/inicio-sesion">Ya tiene una cuenta?, inicia sesi칩n</a>
    </div>
</section>