<footer class="footer bg-warning-dark m-0 px-4 d-flex">
    <div class="d-block w-50 text-center">
        <img src="../../image/Logo.gif " alt="logo" class="logo">
        <p id="footer">En Mi Mochila, nos enorgullecemos de ofrecer una amplia selección de productos escolares de alta calidad, diseñados para satisfacer las necesidades de estudiantes de todas las edades. Desde preescolar hasta la universidad, tenemos todo lo que necesitas para que cada día en el aula sea más organizado, creativo y emocionante.</p>
    </div>
    <div class="d-block">
        <div class="d-flex float-start my-5 ms-5 ">
            <div class="ms-4">
                <h5>Productos</h5>
                <ul>
                    <li>Mochilas</li>
                    <li>Cartucheras</li>
                    <li>Carpetas</li>
                    <li>Hojas/papeles</li>
                    <li>Útiles escolares</li>
                </ul>
            </div>
            <div class="ms-4">
                <h5>Enlaces utiles</h5>
                <ul id="enlacesFooter">
                    <li><a href="/api/auth/nosotros">Nosotros</a></li>
                    <li><a href="/api/products/">Home</a></li>
                    <li><a href="/api/auth/perfil">Perfil</a></li>
                    <li><a href="/api/auth/politics">Políticas y avisos legales</a></li>
                </ul>
            </div>
            <div class="ms-4">
                <h5>Encontranos</h5>
                <p>Tandil, Pinto 535 <br> Tandil, Quintana 1207 <br> Balcarce, Calle 30 270</p>
            </div>
        </div>
        <div class="float-end">
            <h5>Tambien encontranos en...</h5>
            <div class="mb-5 w-100">
                <a href="https://wa.me/2494207711?text=Hola" class="ms-2" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/diego.santellan.370" class="ms-2" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/diego_santellan/" class="ms-2" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>

</footer>